.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.canvas {
  background: #E7A1B0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.white {
  color: white !important;
}

.page-title {
  font-family: "Exo 2", sans-serif !important;
}

p a {
  color: #B8204A !important;
}

.padding-2 {
  padding: 2px !important;
}

.form-control:focus {
  border-color: rgba(227,91,129,1.0) !important;
  box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px rgba(227,91,129,0.6) !important;
  outline: 0 none;
}

input[type="text"] {
  -webkit-appearance: none;
}
